/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bulma/bulma.sass";

// https://www.youtube.com/watch?v=gvWxMQ_Zios
// https://material.io/resources
// https://bulma.io/documentation/form/general/

.alt-gradient-button {
  // background: green;
  border-radius: 2px;
  background: linear-gradient(to right, rgb(236, 72, 140), rgb(240, 54, 82));
  color: #fff;
  font-weight: 600;
  border: none;
  opacity: 0.9;

  &:hover {
    opacity: 1;
    color: #fff;
    box-shadow: 0px 0px 0px 5px rgba(black, 0.05);
  }

  &:focus {
    color: #fff;
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }

  i.material-icons {
    margin-right: 5px;
    margin-left: -3px;
  }
}
